[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "ref/component-model"]
	path = ref/component-model
	url = https://github.com/WebAssembly/component-model.git
[submodule "ref/wasm-micro-runtime"]
	path = ref/wasm-micro-runtime
	url = git@github.com:bytecodealliance/wasm-micro-runtime.git
