[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "ref/component-model"]
	path = ref/component-model
	url = https://github.com/WebAssembly/component-model.git
