[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "ref/component-model"]
	path = ref/component-model
	url = https://github.com/WebAssembly/component-model.git
[submodule "ref/wasm-micro-runtime"]
	path = ref/wasm-micro-runtime
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
[submodule "ref/wit-bindgen"]
	path = ref/wit-bindgen
	url = https://github.com/bytecodealliance/wit-bindgen.git
[submodule "ref/vscode-wit"]
	path = ref/vscode-wit
	url = https://github.com/bytecodealliance/vscode-wit.git
