/build
/.vscode/settings.json
/cpm_modules
/vcpkg_installed
/test/wasm/build*
.DS_Store

# ANTLR jar files
antlr-*.jar
*.jar

# Added by cargo

/target

# Python cache files
__pycache__/
*.pyc

# Generated test stubs
/test/generated_stubs/
/test/test_stubs_sample/
